*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(47, 47, 47);
}
h1{
    text-align: left;
    font-size: 10rem;
    font-family: "Lucida Console", "Courier New", monospace;
}
h2{
    text-align: center;
    padding-left: 35%;
    padding-top: 5rem;
}
footer{
    background-color: rgb(53, 53, 55);
    padding-top: 5rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
    font-size: 0.8rem;
}